/* @font-face {
    font-display: swap;
    font-family: 'MiSans';
    font-weight: 450;
    src: local('MiSans-Regular'),
        url('./MiSans-Regular.woff2') format('woff2');
} */

/* @font-face {
    font-display: swap;
    font-family: 'MiSans';
    font-weight: 600;
    src: local('MiSans-Demibold'),
        url('./MiSans-Demibold.woff2') format('woff2');
} */

/* @font-face {
    font-display: swap;
    font-family: 'MiSans';
    font-weight: 650;
    src: local('MiSans-Semibold'),
        url('./MiSans-Semibold.woff2') format('woff2');
} */

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Code Regular Nerd Font Complete Mono'),
        url('./Fira Code Regular Nerd Font Complete Mono.woff2') format('woff2');
}