<!-- start custom analytics snippet -->
<!-- <script>
    var t = setInterval(function () {
        if (window.goatcounter && window.goatcounter.visit_count) {
            clearInterval(t)
            window.goatcounter.visit_count({ append: '.counter', no_branding: true })
        }
    }, 100)
</script> -->
<script data-goatcounter="https://ihnfsa.goatcounter.com/count" data-goatcounter-settings='{"allow_local": true}' async
    src="//gc.zgo.at/count.js"></script>
<!-- end custom analytics snippet -->