---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import url('../fonts/fonts.css');
@import url('../fonts/MiSans-Regular/result.css');
@import url('../fonts/MiSans-Semibold/result.css');
@import url('../fonts/MiSans-Demibold/result.css');


$serif: 'MiSans', -apple-system, serif !default;
$sans-serif: 'MiSans', -apple-system, sans-serif !default;
$monospace: 'Fira Code', monospace !default;

$global-font-family : $serif !default;
$header-font-family : $sans-serif !default;
$caption-font-family : $serif !default;


@import "minimal-mistakes"; // main partials